flows.json
[{"id":"ed05a109.72a94","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"608787ff.9b47b8","type":"function","z":"ed05a109.72a94","name":"PreToken","func":"global.set(\"n\",msg.payload.n)\nglobal.set(\"at\",msg.payload.at)\nglobal.set(\"vt\",msg.payload.vt)\nglobal.set(\"yreg\",msg.payload.yreg)\nglobal.set(\"gb\",msg.payload.gb)\nglobal.set(\"pp\",msg.payload.pp)\nglobal.set(\"md\",msg.payload.md)\nglobal.set(\"km\",msg.payload.km)\nglobal.set(\"mr\",msg.payload.mr)\nglobal.set(\"ft\",msg.payload.ft)\nglobal.set(\"bd\",msg.payload.bd)\nglobal.set(\"nrd\",msg.payload.nrd)\nvar apikey=\"dLARBC2N2pZ5yQOC7dOT8wHTZG35KeKcXidWjItoT4LD\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":340,"wires":[["79f092b9.486d8c"]]},{"id":"79f092b9.486d8c","type":"http request","z":"ed05a109.72a94","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":459,"y":328.9999952316284,"wires":[["627b3835.a157f8"]]},{"id":"9a609602.7a04e8","type":"debug","z":"ed05a109.72a94","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":898.0000114440918,"y":70.99999713897705,"wires":[]},{"id":"627b3835.a157f8","type":"function","z":"ed05a109.72a94","name":"Pre Prediction","func":"var n = global.get('n')\nvar at = global.get('at')\nvar vt = global.get('vt')\nvar yreg = global.get('yreg')\nvar gb= global.get('gb')\nvar pp = global.get('pp')\nvar md = global.get('md')\nvar km = global.get('km')\nvar mr = global.get('mr')\nvar ft = global.get('ft')\nvar bd = global.get('bd')\nvar nrd = global.get('nrd')\nvar token=msg.payload.access_token\nvar instance_id=\"127bebc3-13a0-4a9d-9287-13f86e7299f0\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"name\", \"abtest\", \"vehicleType\", \"yearOfRegistration\", \"gearbox\", \"powerPS\", \"model\", \"kilometer\", \"monthOfRegistration\", \"fuelType\", \"brand\", \"notRepairedDamage\"], \"values\": [[n,at,vt,yreg,gb,pp,md,km,mr,ft,bd,nrd]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":656.0000076293945,"y":291.9999990463257,"wires":[["8b9426e7.945558"]]},{"id":"8b9426e7.945558","type":"http request","z":"ed05a109.72a94","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/v4/deployments/487d7d0a-9570-4d6b-a16a-bd8656a8c7a5/predictions","tls":"","persist":false,"proxy":"","authType":"","x":749.5000076293945,"y":235.99999904632568,"wires":[["16e088c0.f473d7"]]},{"id":"c29fb257.1f10f","type":"ui_form","z":"ed05a109.72a94","name":"","label":"","group":"daec0735.376238","order":1,"width":0,"height":0,"options":[{"label":"name","value":"n","type":"text","required":true,"rows":null},{"label":"abtest","value":"at","type":"text","required":true,"rows":null},{"label":"vehicleType","value":"vt","type":"text","required":true,"rows":null},{"label":"yearOfRegistration","value":"yor","type":"number","required":true,"rows":null},{"label":"gearbox","value":"gb","type":"text","required":true,"rows":null},{"label":"powerPS","value":"pp","type":"number","required":true,"rows":null},{"label":"model","value":"md","type":"text","required":true,"rows":null},{"label":"kilometer","value":"km","type":"number","required":true,"rows":null},{"label":"monthOfRegistration","value":"mr","type":"number","required":true,"rows":null},{"label":"fuelType","value":"ft","type":"text","required":true,"rows":null},{"label":"brand","value":"bd","type":"text","required":true,"rows":null},{"label":"notRepairedDamage","value":"nrd","type":"text","required":true,"rows":null}],"formValue":{"n":"","at":"","vt":"","yor":"","gb":"","pp":"","md":"","km":"","mr":"","ft":"","bd":"","nrd":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":51,"y":382.9999952316284,"wires":[["608787ff.9b47b8"]]},{"id":"b47aabfb.2dbd48","type":"ui_text","z":"ed05a109.72a94","group":"daec0735.376238","order":2,"width":0,"height":0,"name":"","label":"Price","format":"{{msg.payload}}","layout":"row-spread","x":777.6000366210938,"y":388.20000743865967,"wires":[]},{"id":"16e088c0.f473d7","type":"function","z":"ed05a109.72a94","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":609.6000366210938,"y":131.60000133514404,"wires":[["b47aabfb.2dbd48","9a609602.7a04e8"]]},{"id":"daec0735.376238","type":"ui_group","z":"","name":"Resale Price Prediction","tab":"45162888.8a0e48","order":1,"disp":true,"width":"6","collapse":false},{"id":"45162888.8a0e48","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]